@model HomeViewModel

<partial name="_Carousel" />
<h2>Veckans godheter - Bakat med kärlek!</h2>

<div class="row">
    @foreach (var product in Model.ProductOfTheWeek)
    {
        <partial name="_productCard" model="product" />
    }
</div>

